@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body,
.popover {
    font-family: 'Figtree', 'Arial', sans-serif;
    font-size: 14px;
    font-optical-sizing: auto;
}

.bg-custom_gray {
    background-color: #E5E5E5 !important;
}

.bg-light-gray {
    background-color: rgb(233, 228, 228) !important;
}

.hero_section {
    /* background-image: url("./../img/main.webp"); */
    background-color: #2b6be0 !important;
    min-width: 100%;
    min-height: 600px;
    /* height: 600px; */
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}

.rounded-xl {
    border-radius: 20px !important;
}

.gap-1 {
    gap: 4px !important;
}

.gap-2 {
    gap: 8px !important;
}

.gap-3 {
    gap: 12px !important;
}

.gap-4 {
    gap: 30px !important;
}

.py-2-5 {
    padding: 13px 0px !important;
}

.text-lg {
    font-size: 22px !important;
    font-weight: 600 !important;
}

.cursor-pointer {
    cursor: pointer;
}

.hover-yellow-box:hover {
    background-color: #007BFF !important;
    color: white;
}

.round_trip {
    font-size: 15px;
    font-weight: 500;
    padding: 13px 15px;
}

/* .round_trip input[type="radio"] {
    width: 20px;
    height: 20px;
    border: 2px solid red;
} */
input[type="radio"] {
    appearance: none;
    width: 12px;
    height: 12px;
    border: 1px solid #007BFF;
    border-radius: 50%;
    outline: none;
    background-color: white;
    cursor: pointer;
    /* margin-top: -8px; */
}

input[type="radio"]:checked {
    background-color: #007BFF;
    border: 1px solid red;

}

/* test  */
.round_trip {
    font-size: 15px;
    font-weight: 500;
    padding: 13px 15px;
    border-radius: 6px;
    transition: all 0.2s ease;
    position: relative;
}

.round_trip input[type="radio"] {
    display: none;
    /* hide default radio */
}

.round_trip label {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 6px;
    font-size: 14px;
    color: #333;
    margin: 0;
    font-weight: 400;
}

/* custom circle */
.round_trip label::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid #666;
    border-radius: 50%;
    box-sizing: border-box;
}

/* checked state */
.round_trip input[type="radio"]:checked+label::before {
    border: 5px solid #0d6efd;
    /* blue ring */
}

.round_trip input[type="radio"]:checked+label {
    color: #0d6efd;
    font-weight: 500;
}

/* box highlight */
.round_trip input[type="radio"]:checked~label {
    border-color: #0d6efd;
}

/* test */
.pickupLocationIcon {
    transform: rotate(40deg);
    color: #727171;
}

.material-symbols-outlined {
    color: #727171;
}

#pickupCity,
#goingTo {
    width: 100%;
    height: 40px;
    font-size: 15px;
}

#pickupCity::placeholder,
#goingTo::placeholder,
#phone::placeholder {
    font-size: 18px;
    color: #727171;
}

.destination {
    font-size: 15px;
    font-weight: 500;
    padding: 5px 0px;

}

.destination input[type="text"] {
    border: none;
    outline: none;
}

.destination input[type="text"]:focus {
    border: none;
    outline: none;
}

.addMoreCityBtn {
    color: #727171;
}

.adddestination {
    padding: 13px 0px;
    background-color: white !important;
}

.phonenuber {
    padding: 8px 0px;

}

.adddestination select:focus-visible {
    /* border: 0 !important;
    outline: 0 !important; */
}

#phone {
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
}

.hero_submit_button {
    width: 100%;
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
    background-image: linear-gradient(-60deg, #f09819 0%, #ff5858 100%) !important;
    color: white;
    border: none;
    outline: none;
    border-radius: 6px;
}

.hero_submit_button:hover {
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%) !important;

}

.bookingType {
    background-color: white;
    font-size: 15px;
    color: black;
}

.bookingType.active {
    background-color: #007BFF;
    color: white;
}

.your_itinerary,
.result_your_itinerary {
    display: flex;
    align-items: center;
    justify-content: start !important;
    text-align: start;
    column-gap: 3px;
    row-gap: 5px;
    flex-wrap: wrap;
    font-size: 11px !important;
}

.your_itinerary li,
.result_your_itinerary li {
    background-color: #c0c3c9 !important;
    color: black;
    font-weight: 500;
    list-style: none;
    padding: 4px 12px;
    border-radius: 6px;
    cursor: pointer !important;
    transition: 200ms ease-in-out;
}

.your_itinerary li:hover,
.result_your_itinerary li:hover {
    background-color: #007BFF !important;
    color: white;
    transition: 200ms ease-in-out;
}

.your_itinerary li:hover .your_itinerary li::after {
    color: red !important;
}

.your_itinerary li::after {
    content: "x";
    font-weight: 700;
    margin-left: 5px;
    cursor: pointer;
}

.itinerary_arrow {
    font-weight: 900;
    font-size: 14px;
}

.enabledAddBtn:hover {
    background-color: #353535 !important;
    color: white !important;

}

.enabledAddBtn:hover .addMoreCityBtn,
.enabledAddBtn:hover .material-symbols-outlined {
    color: white !important;

}

.no-drop-pointer {
    cursor: no-drop !important;
}

.itinerary_arrow:last-child {
    display: none !important;
}

.suggestions-list {
    list-style: none;
    margin: 0;
    padding: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.suggestions-list li {
    padding: 8px 12px;
    cursor: pointer;
}

.suggestions-list li:hover {
    background-color: #f0f0f0;
}

#pickupSuggestions,
#destinationSuggestions {
    min-height: 200px;
}

#departureAt,
#localPickupAt {
    max-width: 77%;
    border: none;
    outline: none;
    color: #727171;
}

#arrivalAt,
#localArrivalAt {
    max-width: 60%;
    border: none;
    outline: none;
    color: #727171;
}

.date-close {
    font-size: 18px !important;
    color: red;
}

/* input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
    width: 15px;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
} */

.result_your_itinerary li {
    font-size: 13px;
    padding: 2px 10px;
}

.discount-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: red;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 50%;
}

.price-old {
    text-decoration: line-through;
    color: #888;
    margin: 0;
}

.price-new {
    color: green;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.book-btn {
    background: orange;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    padding: 10px 30px;
}

.book-btn:hover {
    background: darkorange;
}

.edit {
    font-size: 16px;
    display: flex;
    align-items: center;
}

.car_img {
    max-width: 130px;
    width: 130px;
    height: auto;
    object-fit: cover;
    text-align: center;
    margin-left: -10px;
}

.toll_and_without_toll {
    font-weight: 600;

}

.toll_and_without_toll:first-child {
    /* background-color: #ffc107; */

}

.inlcuded_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inlcuded_list li {
    min-width: 180px;
    text-align: start;
}

.toll_and_without_toll div:nth-child().active {
    background-color: #ffc107 !important;
}

.inlcuded_list li span {
    font-size: 14px;
    color: #1f1e1e;
    display: inline-block;

}

.inlcuded_list li span:nth-child(2) {
    color: #01c501;

}

.price_section {
    text-align: end;
    padding: 0px 8px 0px 0px;
}

.price_section h3 {
    font-size: 20px;
}

.selectBtn {
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%) !important;
    border: none;
    color: white;
    font-weight: 600;
    padding: 6px 15px;
    margin-top: 5px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-self: end;
    border: 0.8px solid #ff5858;

}

.selectBtn:hover {
    background-image: linear-gradient(-60deg, #f09819 0%, #ff5858 100%) !important;

}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }

    100% {
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 12px;
    position: relative;
}

.loader {
    width: 28px;
    height: 28px;
    border: 3px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.custom-select {
    background-color: white;
    min-width: 80px;
}

.custom-select-sm {
    height: calc(1.8125rem + 2px);
    padding-top: .375rem;
    padding-bottom: .375rem;
    font-size: 75%;
}

.imgSection {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
}

.imgSection img {
    object-fit: contain;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.localCity,
.selectPackage {
    font-size: 15px;
    font-weight: 500;
    padding: 5px 0px;
}

.modal-header {
    background-color: #d5d6da;
}

#selectAirport option {
    width: 450px !important;
}

#selectAirport:focus option {
    max-width: 150px;
}

.filterAppliedBtn::after {
    content: "x";
    font-weight: 700;
    margin-left: 5px;
    cursor: pointer;
}

.floating-label {
    position: absolute;
    left: 35px;
    top: 14px;
    color: #727171;
    transition: 0.2s ease all;
    pointer-events: none;
}

.form-control:focus+.floating-label,
.form-control:not(:placeholder-shown)+.floating-label {
    top: -10px;
    left: 15px;
    font-size: 15px;
    color: #2c92ce;
    background: white;
    padding: 0 3px;
    box-shadow: none;
}

.form-group:focus-within {
    border: 1px solid black;
    box-shadow: inset 0 0 7px rgba(129, 129, 129, 0.4);
    border-radius: 5px;
    padding: 5px;
}

.wave-header {
    position: relative;
    text-align: center;
    color: white;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    min-height: 100px;
    max-height: 150px;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
    transform: translate3d(-31px, 0, 0);
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
    transform: translate3d(-66px, 0, 0);
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
    transform: translate3d(-111px, 0, 0);
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
    transform: translate3d(8px, 0, 0);
}

.breadcrumb_a {
    display: inline-block;
    overflow: hidden;
    border-radius: 5px;
    counter-reset: flag;
    border: solid 1px #ccc;
}

.breadcrumb_a a {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 26px;
    color: white;
    padding: 0 10px 0 60px;
    background: #666;
    background: linear-gradient(#666, #333);
    position: relative;
}


.breadcrumb_a a:before {
    content: counter(flag);
    counter-increment: flag;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 3px 0;
    position: absolute;
    top: 0;
    left: 30px;
    background: #444;
    background: linear-gradient(#444, #222);
    font-weight: bold;
    padding-left: 7px;
}

.flat a:hover,
.flat a.active,
.flat a:hover:after,
.flat a.active:after {
    background: #76a1ff;
}

.breadcrumb_a a:after {
    content: '';
    position: absolute;
    top: 0;
    right: -10px;
    width: 26px;
    height: 26px;
    transform: scale(0.707) rotate(45deg);
    z-index: 1;
    background: #666;
    background: linear-gradient(135deg, #666, #333);
    box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.4), 3px -3px 0 2px rgba(255, 255, 255, 0.1);
    border-radius: 0 5px 0 50px;
}

.flat a:before {
    background: #eee;
}

.flat a,
.flat a:after {
    background: white;
    color: black;
    transition: all 0.5s;
}

.contactDetails {
    border: none;
    border: 1px solid #ccc;
    font-size: 15px;
    height: 43px;
    margin-bottom: 0px;

}

.contactDetails:focus-within {
    border: 1px solid #ccc;
    font-size: 15px;
    padding: 0px 13px;
    box-shadow: inset 0 0 7px rgba(129, 129, 129, 0.4);
}

.price_card {
    top: 20px;
}

.tooltip-custom {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
    color: #1e90ff;
}

.tooltip-custom .tooltip-text {
    visibility: hidden;
    width: 170px;
    background-color: #363535;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 6px 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    line-height: 1.3;
    white-space: normal;
    font-family: sans-serif;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-custom:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.custom-radio input[type="radio"] {
    display: none;
}

.custom-radio .checkmark {
    width: 20px;
    height: 20px;
    border: 2px solid #1e90ff;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.custom-radio:hover .checkmark {
    border-color: #0056b3;
}

.custom-radio input[type="radio"]:checked+.checkmark {
    background-color: #1e90ff;
    border-color: #1e90ff;
}

.custom-radio input[type="radio"]:checked+.checkmark::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.fare-box {
    background: #fff;
    border: 1px solid #ddd;
    font-size: 14px;
    color: #333;
}

/* .fare-box hr {
    border-color: #eee;
} */
.border-top-2 {
    border-top: 2px solid #ddd;
}

.is-invalid {
    border-color: #dc3545 !important;
}

.invalid-feedback {
    display: block;
    /* force show immediately */
    font-size: 0.875rem;
    color: #dc3545 !important;
}

.ticket-container {
    max-width: 700px;
    margin: 00px auto;
    background: #fff;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.ticket-header {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticket-header h2 {
    font-size: 1.5rem;
}

.section-title {
    font-weight: 600;
    color: #007bff;
    margin-bottom: 10px;
}

.card-custom {
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}

.table th,
.table td {
    vertical-align: middle !important;
}

.badge-status {
    font-size: 0.9rem;
}







.point_items:nth-child(1) {
    width: 15px;
    height: 15px;
    border: 2px solid rgb(74, 180, 106);
    border-radius: 50%;
    /* background-color: #007BFF; */
}

.point_items {
    width: 15px;
    height: 15px;
    border: 2px solid #2290FF;
    border-radius: 50%;
    /* background-color: #007BFF; */
}


.point_connectLine {
    width: 2px;
    height: 24px;
    background: #2290FF;
}

.point_connectLine:nth-child(1) {
    width: 2px;
    height: 24px;
    background: linear-gradient(to bottom, green, #2290FF);
}

.point_connectLine:last-child {
    display: none;
}

.gap_section {
    height: 21px;
    width: auto;
}

.gap_section:last-child {
    display: none;
}

.addressSection {
    white-space: normal;
    margin-top: -3px;
    /* collapse extra spaces */
}

.spinner-border {
    width: 20px;
    height: 20px;
    --bs-spinner-width: 1rem !important;
    --bs-spinner-height: 1rem !important;
    --bs-spinner-vertical-align: -0.125em;
    --bs-spinner-border-width: 0.25em;
    --bs-spinner-animation-speed: 0.75s;
    --bs-spinner-animation-name: spinner-border;
    border: 2px solid rgb(255, 255, 255);
    border-right-color: transparent;
}

.proceedBtn {
    line-height: normal;
}

@media print {
    .ticketStatus {
        font-size: 42px;
    }
}